html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(41, 41, 41);
}
h1 {
    margin: 0;
}
header {
    margin: 0%;
    height: 10%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 100%;
    background-color: rgb(0, 78, 0);
}
#visor {
    overflow: hidden;
    background-color: white;
    font-size: 150%;
    text-align: end;
    margin-bottom: 5%;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 5px;
}
input {
    background-color: black;
    color: white;
    font-size: medium;
    border-color: rgb(53, 53, 53);
}
input.sinal {
    color: green;
}
input:hover {
    background-color: rgb(53, 53, 53);
}
#igual {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}
main {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora {
    background-color: rgb(20, 20, 20);
    padding: 4%;
    border-radius: 10px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 15vh 10vh 10vh 10vh 10vh 10vh;
    max-width: 100%;
}
#del {
    background-image: url("backspace.png");
    background-size: 35%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}